{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid my-1">
        {% if story_list %}
            {% for news in story_list %}
            <div class="container border-bottom py-2">
                <p class="card-title"><a  class="text-decoration-none" href="{% url 'story_detail' news.pk %}">{{news.title}}</a></p>
                <small class="card-subtitle text-muted">By: {{news.author}} | Date: {{news.date_added}}</small>
            </div>
                
            {% endfor %}
            <div class="container pagination my-2">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-success px-4" href="?page=1">&laquo; first</a>
                        <a class="btn btn-danger px-4" href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
        
                    <small class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </small>
        
                    {% if page_obj.has_next %}
                        <a class="btn btn-success px-4" href="?page={{ page_obj.next_page_number }}">next</a>
                        <a class="btn btn-danger px-4" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% else %}
            <p>No Results found</p>
        {% endif %}
    </div> 
        
{% endblock content %}